<!DOCTYPE html>
<html>
<%- include('../partials/backend-head.ejs') %> 
<body>
	<!--div class="pre-loader">
		<div class="pre-loader-box">
			<div class="loader-logo"><img src="/backend/vendors/images/deskapp-logo.svg" alt=""></div>
			<div class='loader-progress' id="progress_div">
				<div class='bar' id='bar1'></div>
			</div>
			<div class='percent' id='percent1'>0%</div>
			<div class="loading-text">
				Loading...
			</div>
		</div>
	</div-->

	<%- include('../partials/backend-top-nav.ejs') %> 
	<%- include('../partials/backend-left-nav.ejs') %> 
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<%- body %>
	</div>
	<%- include('../partials/backend-script.ejs') %> 
</body>
</html>