<!doctype html>
<html lang="en">
    <%- include('../partials/frontend-head.ejs') %>
    <body>
				
		<%- include('../partials/frontend-nav.ejs') %>
		
		<div class="main-container">
		 <%- body %>			
		 <%- include('../partials/frontend-footer.ejs') %>
		</div>
		
				
	<%- include('../partials/frontend-script.ejs') %> 
    </body>
</html>
				