<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4><%= title %> </h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Salvage</a></li>
                            <li class="breadcrumb-item"><a href="/auth/all-items">All Items</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><%= title %> </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                    <!--div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            January 2018
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Export List</a>
                            <a class="dropdown-item" href="#">Policies</a>
                            <a class="dropdown-item" href="#">View Assets</a>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
        
        <!-- Bootstrap Select Start -->
        <div class="pd-20 card-box mb-30">
            <% if(success) {%>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong><i class="icon-copy fa fa-check" aria-hidden="true"></i> Success Message</strong><br/> 
                    <%= success %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %> 
                <% if(error){ %> 
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong><i class="icon-copy fa fa-times" aria-hidden="true"></i> Error Message</strong><br/>
                    <%= error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %> 
            <form method="post" action="/auth/create-item" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label><b style="color : red">*</b>Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Item Name" required>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label><b style="color : red">*</b>Contact Number</label>
                            <input type="text" class="form-control" name="phone" placeholder="Contact Number" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label><b style="color : red">*</b>Address</label>
                            <input type="text" class="form-control" name="address" placeholder="Address" required> 
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label><b style="color : red">*</b>State</label>
                            <select class="custom-select2 form-control" name="stateId" style="width: 100%; height: 38px;" required>
                                <option selected value="">Select State</option>
                                <% states.forEach((state)=>{ %> 
                                <option value="<%= state.state_id %> "><%= state.name %> </option>
                                <% }) %> 
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Registation Number</label>
                            <input type="text" class="form-control" name="regNo" placeholder="Registation Number"> 
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label><b style="color : red">*</b>Brand</label>
                            <select class="custom-select2 form-control" name="brandId" style="width: 100%; height: 38px;" required>
                                <option selected value="">Select Brand</option>
                                <% brands.forEach((brand)=>{ %> 
                                <option value="<%= brand.brand_id %> "><%= brand.name %> </option>
                                <% }) %> 
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label><b style="color : red">*</b>Close Date</label>
                            <input class="form-control date-picker" placeholder="Select Close Date" type="text" name="closeDate" required>  
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label>Claim Number</label>
                            <input type="text" class="form-control" name="claimNo" placeholder="Claim Number"> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="form-group">
                            <label><b style="color : red">*</b>Reserve Price</label>
                            <input type="number" class="form-control" name="reservePrice" placeholder="Reserve Price">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label><b style="color : red">*</b>Front Image</label>
                            <input type="file" class="form-control" name="frontImage" required >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <label><b style="color : red">*</b>Gallery</label>
                        <input type="file" class="form-control" name="gallery" multiple >
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="btn-list">
                            <button type="submit" class="btn btn-primary">Send For Approval</button>
                            <a type="button" href="/auth/all-items" class="btn btn-secondary">Go Back</a>
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>
        <!-- Bootstrap Select End -->

    </div>
    <%- include('./partials/backend-footer.ejs') %> 
</div>