<div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4><%= title %> </h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Admin</a></li>
                            <li class="breadcrumb-item"><a href="/auth/all-roles">All Roles</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><%= title %> </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-6 col-sm-12 text-right">
                    <!--div class="dropdown">
                        <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            January 2018
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Export List</a>
                            <a class="dropdown-item" href="#">Policies</a>
                            <a class="dropdown-item" href="#">View Assets</a>
                        </div>
                    </div-->
                </div>
            </div>
        </div>
        
        <!-- Bootstrap Select Start -->
        <div class="pd-20 card-box mb-30">
            <% if(success) {%>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong><i class="icon-copy fa fa-check" aria-hidden="true"></i> Success Message</strong><br/> 
                    <%= success %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %> 
                <% if(error){ %> 
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong><i class="icon-copy fa fa-times" aria-hidden="true"></i> Error Message</strong><br/>
                    <%= error %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <% } %> 
            <form method="post" action="/auth/update-role">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="hidden" name="roleId" value="<%= result.role_id %>">
                            <input type="text" class="form-control" name="name" value="<%= result.name %>" required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="btn-list">
                            <button type="submit" class="btn btn-primary">Save</button>
                            <a type="button" href="/auth/all-roles" class="btn btn-secondary">Go Back</a>
                        </div>
                    </div>
                    
                </div>
            </form>
        </div>
        <!-- Bootstrap Select End -->

    </div>
    <%- include('./partials/backend-footer.ejs') %> 
</div>